.memepagecolor {
    background-color: black;
    color: rgb(255,255,204);
}

.resumepagecolor {
    background-color: rgb(85, 70, 58);
    color: rgb(255,255,204);
}

.indexpagecolor {
    background-color: rgb(11, 57, 84);
    color: rgb(255,255,204);
}

.body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

ul.a {
    list-style-type: circle;
}


