.memepagecolor {
    background-color: rgb(125, 18, 36);
    color: rgb(255,255,204);
}

.resumepagecolor {
    background-color: rgb(85, 70, 58);
    color: rgb(255,255,204);
}

.indexpagecolor {
    background-color: rgb(11, 57, 84);
    color: rgb(255,255,204);
}

ol.list1 {
    list-style-type: circle;
}